intermediate*
*/intermediate*
*/*/intermediate*
*/*/*/intermediate*

dump
*/dump
*/*/dump
*/*/*/dump

log
*/log
*/*/log
*/*/*/log

*.html
*/*.html
*/*/html
*/*/*/html

Video_retract_v1/
TestCases/retract
TestCases/retract_v1
TestCases/src-local

*.mp4
*/*.mp4
*/*/mp4
*/*/*/mp4

getData
getFacet
